numpy==1.26.4
einops==0.7.0
opencv-python==4.8.1.78
diffusers>=0.20.0,<0.21.0
transformers>=4.30.0,<4.35.0
huggingface_hub>=0.16.0,<0.18.0
accelerate>=0.20.0,<0.25.0
librosa<0.10.0
gradio<4.0
sentencepiece
imageio
imageio-ffmpeg
soundfile
moviepy
ffmpeg-python
mediapipe
facexlib
basicsr
omegaconf
gdown
requests
scipy
tqdm
rich


# pip install torch==2.0.1 torchvision==0.15.2 torchaudio==2.0.2 \
#   --index-url https://download.pytorch.org/whl/cu117

# # OpenMMLab stack
# pip install -U openmim
# mim install mmengine==0.9.1
# mim install "mmcv>=2.0.0,<2.2.0" \
#   -f https://download.openmmlab.com/mmcv/dist/cu117/torch2.0.0/index.html
# pip install mmpose==1.2.0
